/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: "SohoGothic-Ultra-Italic";
  src: url(../fonts/font-F/SohoGothic-Ultra-Italic.otf);
}

@font-face {
  font-family: 'PSL Kittithada Pro';
  src: url('../fonts/font-F/PSLKittithadaProBold.woff2') format('woff2'),
      url('../fonts/font-F/PSLKittithadaProBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* ======font family=========
font-family: 'Anton', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: "SohoGothic-Ultra-Italic";
font-family: 'PSL Kittithada Pro';
*/
:root{
  --thmColor: #000E3B;
  --f21: 21px;
  --f41: 41px;
}


body {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: var(--thmColor);
}
img{
  max-width: 100%;
  display: inline-block;
}

button {
  cursor: pointer;
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: medium none;
  text-decoration: none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  font-weight: 700;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.pb_150 {
  padding-bottom: 150px;
}

.pb_100 {
  padding-bottom: 100px;
}

.pb_50 {
  padding-bottom: 50px;
}

.pt_150 {
  padding-top: 150px;
}

.pt_100 {
  padding-top: 100px;
}

.pt_50 {
  padding-top: 50px;
}

.mb_150 {
  margin-bottom: 150px;
}

.mb_100 {
  margin-bottom: 100px;
}

.mb_50 {
  margin-bottom: 50px;
}

.mt_150 {
  margin-top: 150px;
}

.mt_100 {
  margin-top: 100px;
}

.mt_50 {
  margin-top: 50px;
}

.thm_btn {}

/* default-css END 
================================== */



/*============hero Area Start =============*/
.hero-Area {
  background: url(../img/hero-bg.png);
  background-size: contain;
  position: relative;
  z-index: 1;
  padding: 30px 0;
  height: 1470px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #051649;
  overflow: hidden;
}

img.top-ov {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 0;
}

.container {
  max-width: 1120px;
}

.row {}

.col-lg-12 {}

.hero_top__icon {
  text-align: right;
  position: relative;
}

.hero_top__icon ul {
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero_top__icon ul li {
  display: inline-block;
  margin-left: 35px;
}

.hero_top__icon ul li:first-child {
    margin-left: 0;
}

.logo a {
  text-align: center;
}

.logo span {
  display: block;
  font-size: 40px;
  font-family: "SohoGothic-Ultra-Italic";
  line-height: 1;
  color: #ecd3b6;
}

.logo b {
  font-size: 80px;
  display: block;
  font-family: 'Anton', sans-serif;
  line-height: 1;
  color: #fff;
}

.logo.bdr {
  border-right: 1px solid #fff;
  padding-right: 30px;
}

.hero_text {
  text-align: left;
  margin-top: 480px;
  color: #fff;
  text-transform: uppercase;
  max-width: 630px;
}

.hero_text .lang-v2 {font-size: 40px;}

.hero_list ul {
  font-size: 33px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 89%;
  color: #fff;
}

.hero_list {
    position: absolute;
    right: 20px;
    top: auto;
    bottom: 179px;
}

.hero_list ul a {
    transition: .3s;
}

.hero_text ul a:hover {
    opacity: .7;
}

.hero_text p {
  font-size: 30px;
}

.lang-v2 {font-weight: 400;font-family: 'PSL Kittithada Pro';line-height: 1.3;}

.hero_text>span {
  font-size: 51px;
  font-family: 'Anton';
  display: block;
  margin-top: 10px;
}

.hero_text .logo b {
  font-size: 300px;
}

.hero_text .logo span {
  font-size: 95px;
}

.hero_text .logo a {
  text-align: left;
}

/*============hero Area End =============*/


/*============nav__area Area Start =============*/

.nav__area {
  margin: 20px 0;
}

.nav__area ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__area ul li a:hover {
  filter: brightness(0.5);
}

.nav__area ul li a {
  transition: .3s;
}

.jnp_list {
  background: #051649;
  color: #fff;
  padding: 70px 0;
}

.jnp_list ul {
  padding-left: 43px;
}

section.jnp_list ul li {
  font-size: 40px;
  list-style: disc;
  margin-bottom: 20px;
}

/*============nav__area Area End =============*/


/*============service Area Start =============*/
.service-Area {
  background: #000E3B;
  color: #fff;
  padding: 60px 0 120px;
}

.svc_text {
  text-align: center;
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 70px;
}

.svc_text p {
  font-size: 52px;
}

.service_wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.svc_blk {
  width: 280px;
  height: 370px;
  position: relative;
  text-align: center;
  background: #ffff;
  margin: 20px;
}

.svc_blk span {
  display: block;
  position: relative;
  max-width: 220px;
  margin-inline: auto;
  color: #061649;
  font-size: 23px;
  height: 89px;
  display: flex;
  align-items: center;
  line-height: 1.3;
  justify-content: center;
}

.svc_blk span.lang-v2 {
    max-width: 95%;
    height: 100px;
}

.svc_blk i {
  display: block;
  position: relative;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  transition: .3s;
}

.svc_blk:hover i {
  scale: 1.1;
}

.svc-bg {
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  width: 100%;
}

/*============service Area End =============*/


/*============ About Area About Start =========*/
.about-area{
    padding-top: 50px;
}
.about-item{}

.about-item h3 {
    font-size: 30px;
    color: var(--thmColor);
    font-weight: 600;
}
.about-text{
  font-size: 86px;
  font-family: 'Anton';
  font-weight: 400;
  color: var(--thmColor);
}

.about-item p {
    font-size:  var(--f21);
    margin: 30px 0;
}
.about-des{
  font-size: var(--f21);
}
.about-des-bold{
  font-size: 30px ;
}
.clip-path-section{
  position: relative;
  height: 520px;
  background: url(../img/ship.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  margin-bottom: 20px;
}

.clip-path-section:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--thmColor);
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .5;
}
.clip-path-section .container{display: flex;align-items: center;height: 100%;}
.clip-path-list{
  font-size: var(--f41);
  color: #fff;
}
/*============ About Area End =============*/



/*============ JNP Grop Area start =============*/
.BUSINESS-section {background: var(--thmColor);padding: 75px 0;position: relative;z-index: 1;overflow: hidden;}

section.BUSINESS-section:before {
    content: "'";
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 650px;
    border-top-width: 0px;
    border-left: 156px solid #c7b199;
    top: 0;
    left: 44%;
    z-index: 1;
}

.BUSINESS-section:after {
    content: "";
    position: absolute;
    width: 44%;
    height: 100%;
    background: #c7b199;
    top: 0;
    left: 0;
    z-index: -1;
}

.BUSINESS-section .container {
    height: 100%;
}
.BUSINESS_text {color: var(--thmColor);}

.BUSINESS_text p {
    font-size: 58px;
    color: #fff;
    font-family: 'PSL Kittithada Pro';
}

.BUSINESS_text h2 {
    font-size: 127px;
    font-family: 'Anton';
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
}

.BUSINESS_text b {
    color: #fff;
    font-size: 38px;
    font-family: 'SohoGothic-Ultra-Italic';
    margin-left: 20px;
}

.BUSINESS_text h1 {
    font-size: 213px;
    font-family: 'Anton';
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
}
.BUSINESS_img {display: flex;align-items: center;height: 100%;justify-content: space-between;}

/*============ JNP Grop Area End =============*/


/*============ slider Area End =============*/
.slider-Area{padding: 70px 0;}
.slider_text{
}

.slider_text p {
    font-size: 33px;
    margin-bottom: 0;
}

.slider_text h2 {
    font-size: 88px;
    font-weight: 400;
    font-family: 'Anton';
    margin-bottom: 20px;
}
.swiper-button-next:after, .swiper-button-prev:after{
  opacity: 0;
}
.slider_item{
    position: relative;
}

.slider_item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    background: var(--thmColor);
    left: 0;
    top: 50%;
    transform: skewY(3deg) translateY(-50%);
}
.sld_arrow{display: flex;align-items: center;justify-content: center;gap: 20px;}
/*============ slider Area End =============*/

/* ============service area start========== */
.sec_title{
  font-size: 130px;
  text-align: center;
  background-color: #000E3B;
  color: white;
  margin: 0;
  font-family: 'Anton';
  font-weight: 400;
  padding: 40px 0;
  text-transform: uppercase;
}

h2.sec_title.btit {
    text-align: left;
}
/* ============service area start========== */


/* =============img style================ */

.img-perent{
  position: relative;
  /* height: 580px; */
  max-width: 560px;
  width: 100%;
  flex-shrink: 0;
}
.img-child-1{
  position: absolute;
  content: "";
  top: 21px;
  right: 10%;
}
.img-child-2{
  position: absolute;
  content: "";
  top: 9px;
  right: 20%;
}
.img-child-3{
  position: absolute;
  content: "";
  top: 0;
  right: 30%;
}
.laying-header{
  color: #061649; 
  font-size: 35px; 
  text-align: right;
  /* padding: 20px 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13%;
}
/* =============img style================ */





/* =============img style================ */
.service_blk{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.service_blk_text{}

.service_blk_text h1 {
    font-size: 45px;
    font-family: 'PSL Kittithada Pro';
    line-height: 1;
}

.service_blk_text h1 .h_und {
    display: inline-block;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 30px;
}

.service_blk_text span {
    font-size: 35px;
    font-family: 'PSL Kittithada Pro';
    line-height: 1;
    display: block;
}

.text-right .service_blk_text span {
    margin-left: auto;
}

.service_blk_text h2 {
    font-size: var(--f41);
    font-weight: 400;
    font-family: 'Anton';
    margin-bottom: 25px;
}

.service_blk_text p {
    font-size: 23px;
}

.text-right {
    text-align: right;
}

.service-area {
    position: relative;
    overflow: hidden;
    padding-top: 70px;
}

.service-area.text-right:after,.service-area.text-left:after {
    content: "";
    position: absolute;
    width: 75%;
    top: 55%;
    height: 65%;
    background: #EBEBEB;
    transform: translateY(-50%);
    z-index: -1;
}

.service-area.text-left:after {
    left: 0;
}

.service-area.text-right:after {
    right: 0;
}

.left-child-img1{
  left: 30%;
}
.left-child-img2{
  left: 40%;
}
.left-child-img3{
  left: 50%;
}
.img-perent2{
  position: relative;
  height: 500px;
}
.left-child-img1{
  position: absolute;
  content: "";
  top: 21px;
  left: 10%;
}
.left-child-img2{
  position: absolute;
  content: "";
  top: 9px;
  left: 20%;
}
.left-child-img3{
  position: absolute;
  content: "";
  top: 0;
  left: 30%;
}

/* =============img style================ */



/* ============product area============= */
.product-area{
  background: linear-gradient(rgb(255 255 255 / 80%),rgb(255 255 255 / 80%)), url(../img/product-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 70px 0;
}

.product-area .container {
    max-width: 920px;
}

.product-img{
  width: 100%;
  max-height: 220px;
  object-fit: contain;
}
.product-items-hear{
  position: relative;
  margin-bottom: 45px;
  width: 260px;
  height: 280px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 21%);
}

.product-items-hear i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
}
.product-title{
  position: absolute;
  top: 84%;
  left: 20%;
  font-size: 19px;
  color: #061649;
  font-family: 'Anton';
  font-weight: 400;
}
/* ============product area End============= */


/* ============board area============= */

.board-section{
    overflow: hidden;
}
.board-block::after {
  content: '';
  position: absolute;
  width: 93%;
  height: 98%;
  top: 40px;
  left: 0;
  background: white;
  z-index: -1;
  box-shadow: 0 9px 20px rgb(0 0 0 / 30%);
}

.board-block {
  position: relative;
  max-width: 810px;
  margin-bottom: 50px;
  padding-left: 20px;
  margin: 80px 0;
}

.board-block.right {margin-left: auto;}

.board-block.right:after {
    left: auto;
    right: 0;
}

.board-block.right img {}
.board-block-2 {
  position: relative;
  max-width: 810px;
  margin-bottom: 50px;
}
.board-block-2::after {
  content: '';
  position: absolute;
  width: 93%;
  height: 100%;
  top: 33px;
  left: 56px;
  background: white;
  z-index: -1;
  box-shadow: 0 9px 20px rgb(0 0 0 / 63%);
}
/* ============product area============= */

















/*============footer Area Start =============*/
.footer-Area {
  background-image: url(../img/footer-bg.png);
  color: #ffff;
  padding: 60px 0 50px;
  background-position: bottom;
  background-size: cover;
}

/* .footer_content {} */

.footer_content hr {
    opacity: 1;
    background: #D7B794;
}

.footer_content p {
    font-family: 'PSL Kittithada Pro';
    font-size: 37px;
    margin-bottom: 0;
    line-height: 1.3;
}

.footer_content h1 span {
    color: #dfbd97;
}

.footer_content h1 {
    font-size: 85px;
    text-transform: uppercase;
    font-family: 'Anton';
    font-weight: 400;
    margin-bottom: 20px;
}

.footer_link {
    margin-top: 50px;
}

.footer_link ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_link ul li {
    flex: 0 0 45%;
    margin-bottom: 30px;
}

.footer_link ul li a {
    display: flex;
    align-items: center;
}

.footer_link ul li a span {
    font-size: 40px;
    display: block;
}

.footer_link ul li a i {
    width: 70px;
    display: block;
    text-align: center;
    flex-shrink: 0;
    margin-right: 20px;
}

.footer_link ul li a i.fn-1 {
    width: 80px;
    margin-left: -5px;
}

.footer_link ul li a .mail span {
    font-size: 28px;
    /* line-height: 1; */
}

.footer_link ul li a .mail p {
    margin-bottom: 0;
    font-size: 34px;
    line-height: 1;
}

/*============footer Area End =============*/















/* =============== Responsive area============== */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
/* =============== Responsive area============== */



/*============thumb__slider Area End =============*/
/* .thumb__slider {} */

.thumb__slider .swiper-wrapper {
  height: 480px;
  padding: 20px 0;
}

.thumb__slider .thumb__slider_all {
  height: auto !important;
  padding-bottom: 40px;
}

.thumb__slider .swiper-slide {
  margin-bottom: 50px;
  border-radius: 40px;
  overflow: hidden;
  border: 3px solid #C4C4C4;
}

.thumb__slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb__slider .swiper-button-next {
  right: 20px;
}

.thumb__slider .swiper-button-prev {
  left: 40px;
}

.thumb__slider_all .swiper-slide {
  height: 229px;
  border: 2px solid #C4C4C4;
  margin-bottom: 0;
  cursor: pointer;
}

.swiper__nav {
  display: flex;
  align-items: center;
}

.swiper__nav i {
  font-size: 50px;
  color: #fff;
}

/* ============thumb__slider Area End ============= */